h1 {
  width: 30px;
  border: 1px solid black;
  color: red;
}
h2 {
  width: 25px;
  border: 5px solid black;
  color: red;
}
h3 {
  width: 20px;
  border: 10px solid black;
  color: red;
}
p {
  color: orange;
}
ul {
  color:red;
  border:400px;
}
body {
  background-color: black;
}